<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Figure 8</title>
</head>
<body>
    <h1>Level 1</h1>
    <p1><p style="font-size:160%;">Image 2</p1>{% csrf_token %}
       <form action="/validate/" method="POST">{% csrf_token %}
               Enter the key:<br>
                 <input type="text" name="Key"><br><br>
                 <input type="submit" value="Submit"/>
                 <input type="reset" value="Reset"/>
        </form>
</body>
</html>